{% load static %}
<ul class="nav justify-content-center ">
    <li class="nav-item">
      <a class="nav-link text-secondary" title="Hierüber gelangt man bald zum Impressum" href="{% url 'impressum' %}">Impressum</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" title="Hierüber gelangt man bald zum Kontakt" href="#">Kontakt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" title="Hierüber gelangt man bald zum Kontakt" href="#">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" title="Hierüber gelangt man bald zum Kontakt" href="https://github.com/DerZander/billingo2.0">zum Programmcode</a>
    </li>

  </ul>